body{
    background-color: black;
}

#mobs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 52em;
    width: 100%;
}

.monstre{
    width: 50px;
    height: 50px;
    position: sticky;
}

#vaisseau{
    width: 50px;
    height: 50px;
    position: absolute;
}

footer{
    bottom: 0;
    left: 0;
    width: 100%;
}
.missile{
    width: 5px;
    height: 25px;
    position: absolute;
}