@font-face {
    font-family: 'RetroTeam';
    src: url('../font/RetroTeam.otf') format("opentype");
}
@font-face {
    font-family: 'VaryReg';
    src: url("../font/VarygraphieThin_PERSONAL_USE_ONLY.otf")format("opentype");
}
body{
    background-color: black;
    color: white;
    font-family: 'VaryReg',Arial;
    font-size: 30px;
}

.title{
    font-size: 80px;
    font-family: 'RetroTeam',Arial;
    text-align: center;
}
.name{
    text-align: center;
}

#rubrique{
    display: flex;
    justify-content: center;
}
#rubrique div{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 50px;
    text-align: center;


}
#rubrique p{

    border: solid white 3px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    box-shadow: black 2px 2px;
    color: burlywood;
}
#rubrique p:hover{
    background-color: gray;
}
#rubrique a{
    text-decoration: none;
}

footer{
    bottom: 0;
    height: 100px;
    max-width: 100%;
    left: 0;
    justify-content: center;
    border-top: solid white 2px;

}

.logo{
    display: flex;
    justify-content: center;

}

.logo img{
    width:  50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 25px;
}

.logo img:hover{
    border: solid white 1px;
    border-radius: 5px;
}

.projets{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.projets div{
    display: flex;
    flex-direction: column;
}
.projets div div{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.projets img{
    width: 250px;
    height: 150px;
    margin-right: 20px;
    margin-left: 20px;
}
.projets img:hover{
    width: 260px;
    height: 160px;
    border:solid white 3px;
    border-radius: 5px;
}

.secret{
    display: flex;
    justify-content: right;

}
.secret a{
    text-decoration: none;
    color: gray;
}

.Arial p{
    font-family: Arial, serif;
    font-size: 25px;
}
.Presentation p{
    font-family: Arial, serif;
    font-size: 25px;
    text-align: center;
}