.parcours{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
#vanta-canvas{
    padding-bottom: 25px;
}
.étude{
    border: solid #ff0000 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 500px;
    margin-right: 50px;
    background: rgba(0, 0, 0, 0.82);
}

.Arial{
    background: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    width: 80%;

}
.Arial p{
    margin-left: 25px;
}
.Arial h4{
    text-align: center;

}
section{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}