section{
    border-top: solid white 2px;

}


.parcours{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

}
#vanta-canvas{
    padding-bottom: 15px;
}
.étude{
    border: solid #ff0000 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 500px;
    margin-right: 50px;
}

.étude p {

}