@font-face {
    font-family: 'RetroTeam';
    src: url('../font/RetroTeam.otf') format("opentype");
}
@font-face {
    font-family: 'VaryReg';
    src: url("../font/VarygraphieThin_PERSONAL_USE_ONLY.otf")format("opentype");
}

html{
    font-family: "Open Sans";
    font-weight: bold;
}

body{
    margin: 0;
    background-color: black;
    color: white;
    font-size: 30px;
    background-image: url("../images/fond.jpg");
}
.title{
    font-size: 40px;
    text-align: start;
}
.title:hover{
    color: burlywood;
    transition: color 0.5s ease-out;
}

.name {
    text-align: center;
    margin:0;
}
.name:hover{
    color: burlywood;
    transition: color 0.5s ease-out;
}

#rubrique{
    display: flex;
    background: black;
    opacity: 0.9;
    justify-content: space-around;
    margin :0;
    padding : 0;
    min-width: 100%;
    font-family: VaryReg,Arial;
}
#rubrique div{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 5px;
    padding-right: 5px;
}
.choix{
    color: burlywood;
    transition: border-spacing 0.3s ease-in-out;
    text-decoration: none;
}

.choix:hover{
    border-bottom: 2px solid #f0f0f0;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.logo img{
    width:  25px;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

.logo img:hover{
    width: 50px;
    height: 50px;
}

.projets{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;

    font-family: VaryReg,"Open Sans";
    background: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
}

.projets div{
    display: flex;
    flex-direction: column;
}
.projets div div{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.projets img{
    width: 250px;
    height: 150px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
}
.projets img:hover{
    width: 260px;
    height: 160px;
    border:solid white 3px;
    border-radius: 5px;
}

.secret{
    display: flex;
    justify-content: right;

}
.secret a{
    text-decoration: none;
    color: gray;
}

.Arial p{
    font-size: 25px;
}
.Presentation p{
    font-size: 25px;
    text-align: center;
}

h4{
    font-family: VaryReg;
    padding-left: 10px;
    color: #b39d6b;
}

.carrousel{
    display: flex;
    justify-content: center;

}
.carrousel img{
    width: 800px;
    height: 800px;
    border :solid white 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}