<script src="../web/javascript/general.js"></script>
<script src="../web/javascript/space/SpaceInvaderPortfolio.js"></script>
<link rel="stylesheet" href="../web/css/invaders.css">
<section>
    <div class="Presentation">
        <p>Bienvenue sur mon Portfolio, vous trouverez ici toutes les informations me concernant.</p>
    </div>

    <div id="space">
        <div id="listeMonstre"></div>
        <div id="footerSpace">
            <img id="vaisseau" src="../web/images/vaisseau.png">
        </div>
    </div>

</section>
