<link rel="stylesheet" href="../web/css/style.css">
<link rel="stylesheet" href="../web/css/styleProjet.css">
<script src="../web/javascript/general.js"></script>
<script src="../web/javascript/aventurierDuRail.js"></script>

<section>
    <div id="projet">
        <img id="imageProjet" src="../web/images/aventurierFond.jpeg" alt="aventurier">
        <div>
            <input onclick="clickImageOld()" name="<" type="button" value="<">
            <input onclick="clickImageNext()" name=">" type="button"value=">">
        </div>
    </div>
</section>

<div class="information">
    <h4>Qu'est-ce que le projet Aventurier du rail ?</h4>
    <p>Le projet aventurier du rail est un projet réalisé durant le semestre 2 de BUT informatique.</p>
    <p>L'objectif de ce projet était de recrée le jeu de plateau "aventurier du rail".</p>
    <p>Ce projet a été réalisé en binôme.</p>

    <h4>Technologies utilisés :</h4>
    <div class="techno">
        <img src="../web/images/techno/java.png" alt="java">
        <img src="../web/images/techno/JavaFX.png" alt="javafx">
    </div>

    <h4>Compétences mobilisés : </h4>
    <ul>
        <li><p>Création d'une logique de jeu</p></li>
        <li><p>Gestion d'interfaces graphiques</p></li>
        <li><p>Application de concepts d'ergonomie</p></li>
        <li><p>Travail d'équipe</p></li>
    </ul>

</div>