<link rel="stylesheet" href="../web/css/styleProjet.css">
<script src="../web/javascript/ecommerce.js"></script>
<section>
  <div id="projet">
    <img id="imageProjet" src="../web/images/ecommerce/ecommerce.png" alt="EcImages">
    <div>
      <input onclick="clickImageOld()" name="<" type="button" value="<">
      <input onclick="clickImageNext()" name=">" type="button"value=">">
    </div>
    <a target="_blank" href="https://github.com/BlMathieu/E-commerce">Lien projet</a>
  </div>
  <div class="information">
    <h4>Qu'est-ce que le projet E-commerce ?</h4>
    <p>Le projet E-commerce est un projet réalisé en trinôme durant le semestre 3 de BUT informatique.</p>
    <p>L'objectif de ce projet était de réalisé un site internet de E-commerce en priorisant l'utilisation des langages PHP et SQL via PDO.</p>
    <p>Ce projet intègre une gestion de comptes utilisateurs et aministrateurs permettant l'ajout/surpression de produits, une gestion de panier et de commandes.</p>
    <h4>Technologies utilisés :</h4>
    <div class="techno">
      <img src="../web/images/techno/sql.png">
      <img src="../web/images/techno/phpLogo.png">
      <img src="../web/images/techno/cssLogo.png">
      <img src="../web/images/techno/htmlLogo.svg">
    </div>
    <h4>Compétences mobilisés : </h4>
    <ul>
      <li><p>Utilisation du model MVC</p></li>
      <li><p>Mise en place d'un routeur PHP</p></li>
      <li><p>Utilisation de sessions et cookies</p></li>
      <li><p>Création d'une base de données</p></li>
      <li><p>Utilisation de procédures stockés</p></li>
      <li><p>Intéraction avec une base de données via PDO</p></li>
      <li><p>Utilisation de requêtes préparées</p></li>
      <li><p>Travail d'équipe</p></li>
    </ul>
  </div>
</section>