<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../web/css/style.css">
    <script defer="defer" src="../web/javascript/game.js"></script>
</head>
<body>
<header>
    <h1 class="title">Portfolio</h1>
    <p>Nom : Blanchet</p>
    <p>Prenom : Mathieu</p>
</header>
<div class="rubrique">
    <div>
        <p>Information</p>
    </div>
    <div>
        <p>Projets</p>
    </div>
    <div>
        <p>Contacts</p>
    </div>
</div>

<footer id="footer">
    <img id="vaisseau" src="../web/images/vaisseau.png" alt="vaisseau">
    <div id="missileList">

    </div>
</footer>

</body>
</html>