<script src="../web/javascript/general.js"></script>
<link rel="stylesheet" href="../web/css/styleInformation.css">

<section>
    <div id="info" class="Arial">
        <h4>Présentation :</h4>
        <ul>
            <li><p>Nom : Blanchet</p></li>
            <li><p>Prenom : Mathieu</p></li>
            <li><p>Age : 20 ans</p></li>
        </ul>
        <p>Je suis actuellement étudiant en 2ème année de BUT informatique à l'iut de Montpellier.</p>
        <h4>Parcour scolaire :</h4>

        <div class="parcours">
            <div class="étude">
                <p>Bac Technologique (STI2D)
                    <br>Lycée Jean Baptiste-Dumas (Ales)
                </p>
                <p>Mention très bien<br>2021</p>
            </div>
            <div class="étude">
                <p>BUT Informatique<br> IUT de Montpellier</p>
                <p>En cours<br>2021-2024</p>
            </div>
        </div>

        <h4>Compétences acquises : </h4>
        <p>Durant mes 2 années de BUT informatique, j'ai pu apprendre et développer mes compétences sur plusieurs langages et notamment :</p>
        <ul>
            <li><p>Java / JavaFX</p></li>
            <li><p>Langage C</p></li>
            <li><p>HTML / CSS</p></li>
            <li><p>JavaScript</p></li>
            <li><p>PHP</p></li>
            <li><p>SQL</p></li>
        </ul>
        <p>Mais aussi des compétences en gestion de projet (application de la méthode SCRUM) et en travail d'équipe.</p>
        <p>Ces compétences ont pu être développées à travers les divers projets réalisés disponibles <a href="frontController.php?action=projets">ici</a></p>
    </div>
</section>