
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpaceInvader</title>
    <link rel="stylesheet" href="../web/css/game.css">
    <script src="../web/javascript/space/Game.js"></script>
</head>
<body>
    <div id="mobs">
        <div id="replay"><input id="btPlay" value="rejouer ?" type="button"></div>
    </div>

    <footer>
        <div id="missileDiv">
            <img alt="vaisseau" id="vaisseau" src="../web/images/vaisseau.png">
        </div>
        <div><p id="pScore">Score : </p></div>
    </footer>
</body>
